body{
padding:0px;
margin:0px;
background-color:#291856;
}

#headline{
color:#fff;
font-size:60px;

}

#loginpane{
background-color:#4a416f;
border-radius:40px;
}

#label1{
color:#fff;
}

#inputPwd, #inputUserID{
background-color:transparent;
color:#fff;
}

